﻿@model Test.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Index", "Home", new {  }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <hr/>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Encrypt" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
        
        @if (string.IsNullOrWhiteSpace(Model.DecryptedData) == false && string.IsNullOrWhiteSpace(Model.EncryptedData) == false)
        {
            <div>
                Encrypted data: <b>@Model.EncryptedData</b>
            </div>

            <div>
                Decrypted data: <b>@Model.DecryptedData</b>
            </div>
        }

    </div>
</div>