﻿@model List<Test.Models.UserListItemViewModel>
@{
    ViewBag.Title = "User list";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Choose users to log out</h4>
    <hr />

    @using (Html.BeginForm("UserList", "Manage"))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">Log out selected</button>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>UserName</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @for (var a = 0; a < Model.Count; a++)
                {
                    <tr>
                        <th scope="row">
                            @Html.HiddenFor(m => Model[a].Id)
                            @Html.CheckBoxFor(m => Model[a].Checked)
                        </th>
                        <td>@Model[a].UserName</td>
                        <td>@Model[a].Email</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
